DATABASE_URL=postgres://user:password@DOMAIN/DATABASE
JWT_SECRET=SECRET
INTERNAL_API_KEY=$(base64 -i - <<< internal:password)
VAPID_PRIVATE_KEY=$(npx web-push generate-vapid-keys)
VAPID_PUBLIC_KEY=$(npx web-push generate-vapid-keys)
RUST_LOG=info
