# Build Artifacts
/target/
node_modules/
recordings/
/recordings/
build.sh
dev_build.sh
/docker-hoopla/
init-db.sh
**/*.mp4

# OS Specific
.DS_STORE

# Rust Stuff
**/*.rs.bk

# Editor Specific
*.swp
*.swo
*~
docker-compose.yaml
